body{
    margin: 0;
    padding: 0;
    font-family: monserrat;
    background: linear-gradient(#D2B4DE,#AED6F1 );
    height: 100vh;
}
header {
    display: flex;
    justify-content: center; 
    height: 100vh;           
    margin: 0;               
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-top: 20px; 
}
.Formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border-radius: 10px;
}

.Correo,.Contraseña{
    text-align: left;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}